{% extends 'base.html.twig' %}

{% block title %}
Gestuniat - Profil de {{ contact.prenom }} {{ contact.nom }}
{% endblock %}

{% block additionnal_classes %}internal has-left-column{% endblock %}


{% block left_column %}

	{% include 'operateur/contacts/infos-gen.inc.html.twig'  %}

{% endblock %}

{% block content %}
	<h2>Accueil contact</h2>
	<br />
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="section-block">
				<div class="section-header">
					<h3>Suivi contact</h3>
				</div>
				<div class="section-main-content">
					<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-suivi-default"><span class="glyphicons glyphicons-pen" aria-hidden="true"></span>Rédiger un nouveau commentaire</button>
					{% include 'modals/ajouter-suivi-default.html.twig' %}
				</div>
				<div class="section-sub-content">
					{% for suivi in lstSuivis %}
						{% include 'operateur/contacts/suivi-item.inc.html.twig' with {'suivi': suivi} %}
					{% endfor %}
				</div>
				<div class="section-main-content">
					<button class="btn btn-default btn-block" data-toggle="modal" data-target="#liste-all-suivi">Voir tous les commentaires >></button>
					{% include 'modals/liste-suivis.html.twig' %}
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="section-block">
						<div class="section-header">
							<h3>Documents</h3>
						</div>
						<div class="section-main-content">
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-folder-open"></span>Créer un dossier</button>
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-folder-open"></span>Créer un document</button>
							<button class="btn btn-default btn-block"><span class="glyphicons glyphicons-eye-open"></span>Explorer</button>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="section-block">
						<div class="section-header">
							<h3>Vignettes contributives</h3>
						</div>
						<div class="section-main-content">
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-tag"></span>Ajouter une vignette</button>
							<button class="btn btn-default btn-block"><span class="glyphicons glyphicons-eye-open"></span>Explorer</button>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="section-block">
						<div class="section-header">
							<h3>Dons</h3>
						</div>
						<div class="section-main-content">
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-tag"></span>Ajouter un don</button>
							<button class="btn btn-default btn-block"><span class="glyphicons glyphicons-eye-open"></span>Explorer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="section-separator"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="section-block">
						<div class="section-header">
							<h3>Prévoyances en cours</h3>
						</div>
						<div class="section-main-content">
							<p>
								<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-notes"></span>Gestion des prévoyances</button>
							</p>
							<div class="btn-group-vertical" role="group">
								<button class="btn btn-default btn-block">AGRR Prévoyance <span class="badge">3</span></button>
								<button class="btn btn-default btn-block">Prévoyance obsèques <span class="badge">3</span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="section-block">
						<div class="section-header">
							<h3>Kit Adhésion</h3>
						</div>
						<div class="section-main-content">
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-note"></span>Bulletin d'adhésion</button>
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-message-full"></span>Lettre de remerciement</button>
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-message-full"></span>Lettre section</button>
							<button class="btn btn-primary btn-block"><span class="glyphicons glyphicons-message-full"></span>Lettre d'accompagnement</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

