<div class="listing-container">
	{% if lstAlertes[deadline] %}
		{% for term in lstAlertes[deadline] %}
			{% if term.type == 'alerte' %}
	        	{% include 'operateur/dashboard/alerte-item.inc.html.twig' with {'alerte': term} %}
			{% endif %}
			{% if term.type == 'suivi' %}
	        	{% include 'operateur/dashboard/suivi-item.inc.html.twig' with {'suivi': term} %}
			{% endif %}
	    {% endfor %}
	{% endif %}
</div>