<div class="listing-container">
	{% if lstAlertes[deadline] %}
		{% for alerte in lstAlertes[deadline] %}
	        {% include 'operateur/dashboard/alerte-item.inc.html.twig' with {'alerte': alerte} %}
	    {% endfor %}
	{% endif %}
</div>