body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

body.loading *:hover, body.loading:hover{
    cursor: wait;
}

.glyphicons:before {
    padding: 0px 0px; 
}

#main-content{
    padding-left: 220px;
    position: relative;
}

#main-content header{
    padding: 50px 20px;
    background-color: #32637c;
}

body.internal #main-content header{
    padding: 0px 20px;
}

body.internal #main-content header .header-button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

body.internal #main-content header .header-button .button-label{
    display: none;
}

body.internal #main-content header .header-button .glyphicons{
    font-size: 20px;
    line-height: 40px;
}

body.internal #main-content header .header-button .nb-alertes{
    top: 10px;
    left: -8px;
}

#main-content header .header-button{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #7092a4;
    float: right;
    margin-right: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    position: relative;
}

.header-button .glyphicons, .header-button .glyphicon{
    display: block;
    font-size: 35px;
    line-height: 65px;
}

.header-button .badge.nb-alertes{
    position: absolute;
    top: -8px;
    left: 40%;
    background-color: #9e0039;
}

#global-search-zone{
    padding: 20px;
}

#global-search-container{
    margin-top: 20px;
}

#left-sidebar{
    background-color: #354052;
    width: 220px;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.head-container{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.head-container{
    font-size: 14px;
    height: 195px;
}

#logo{
    padding-bottom: 20px;
}

.menu-container{
    color: white;
}

.menu-container ul{
    padding-left: 0px;
}

.menu-container ul li{
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    position: relative;
}

.menu-container ul li ul{
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    background-color: #6f7d95;
    width: 200px;
}

.menu-container ul li ul li{
    text-transform: none;
    font-size: 16px;
    padding-left: 10px;
    font-weight: normal;
}

.menu-container ul li ul li .glyphicons{
    padding-right: 10px;
}

.menu-container ul li ul li:hover{
    background-color:#4c5667;
    border-right:none;
}

.menu-container ul li ul li.item-add {
    background-color: #c4df9b;
}

.menu-container ul li ul li.item-add:hover {
    background-color: #bbd495;
}

.menu-container ul li ul li.item-add a{
    color: #354052;
}

.menu-container ul li:hover{
    background-color: #303949;
    border-right: solid 3px #bb3052;
}

.menu-container ul li:hover > ul{
    display: block;
}

.menu-container ul li ul li:hover ul{
    display: block;
}

.menu-container ul li ul li ul li .icon-delete{
    display: none;
    color: #9e0039;
}

.menu-container ul li ul li ul li:hover .icon-delete{
    display: inline-block;
}

.menu-container ul li .glyphicons{
    display: inline-block;
    padding-right: 30px;
}

.menu-container ul li a{
    color: white;
    text-decoration: none;
}

.menu-container .spacer{
    border-top: solid 4px #2e3848;
    border-bottom: solid 2px #3a4659;
}

.container-border{
    background-color: #f5f5f5; 
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
}

.container.fullwidth{
    width: 100%;
    border:solid thin #ccc;
    background-color: white; 
    padding-bottom: 10px;
}

.filter-container{
    display: none;
}

.left-column-container{
    display: none;
}

body.has-filter .filter-container{
    display: block;
    float: left;
    width: 20%;
    background-color: #ebf1f5;
}

body.has-left-column .left-column-container{
    display: block;
    float: left;
    width: 20%;
}

body.has-filter .container-border, body.has-left-column .container-border{
    float: left;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}

/* AUTHENTIFICATION */


@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.authentification {
    animation-name: fadein;
    animation-duration: 2s;
}

@keyframes popfromtop {
    from {position:relative;top: -80px;}
    to {position:relative;top: 0px;}
/*    from {width:0px;}
    to {width: 130px;}*/
}
.authentification .logo {
    animation-name: popfromtop;
    animation-duration: 0.5s;
    width: 130px;
}

.authentification .head{
    background-color: #354052;
    text-align:center;
    border-bottom: solid 10px #32637c;
    margin-bottom: 60px;
}

.authentification h1{
    text-align: center;
}

.authentification .logo{
    padding: 20px
}

.auth-form-container{
    border: solid thin #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    animation-name: popfromtop;
    animation-duration: 1s;
}

.auth-form-container input{
    min-width: initial !important;
}

/* CONTENT */



h1{
    font-size: 30px;
    color: #555;
}

.grey-text{
    font-size: 16px;
    color: #9a9a9a;
}


.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.spacer-10{
    height: 10px;
}

.spacer-25{
    height: 25px;
}

.spacer-50{
    height: 50px;
}

.spacer-100{
    height: 100px;
}

.col-header{
    background-color: #cdcdcd;      
}

.col-header h4{
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin:0;
}

.dropdown-menu > li > a.no-padding-top {
    padding-top: 0px;
    padding-bottom: 0px;
}


.contextual-icon{
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}

.contextual-item .item-label{
    display: inline-block;
    border-left: solid thin #ccc;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.contextual-item .glyphicons{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
}


.btn-group-vertical{
    display: block;
}

#autocomp-search-contact .autocomp-result {
    position: absolute;
    width: 92%;
}

.badge.red{
    background-color: #ed1c24;
}

.padded{
    padding: 5px;
}

/* FORM */

form label {
    width: 135px;
    float: left;
}

form input[type="text"],form textarea {
    min-width: 400px;
}

form input, form textarea, form select{
    padding: 5px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.full-contact-form label{
    float: none;
    width: 100%;
}

.inline-form .form-group{
    width: 33%;
    min-height: 90px;
    padding-top: 15px;
    float: left;
    position: relative;
}

.inline-form .form-group > div > ul{
    position: absolute;
    bottom: -20px;
    left: -40px;
    color: #c9302c;
    list-style-type: none; 
}

.modal-form > div > ul{
    clear:both;
    color: #c9302c;
    list-style-type: none; 
    padding-left: 0px;
}


.autocomp-value{
    float: none;
}

.autocomp-result ul{
    width: 100%;

}

.autocomp-result ul .active a{
    color: white;
}

.modal-form > div{
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-form > div label{
    margin-right: 10px;
}

/* BUTTONS */

.btn-primary{
    background-color: #32637c;
    border-color: #32637c;
}

.btn-primary:hover{
    background-color: #2A566D;
}

.btn-default{
    color: #32637c;
}

.btn-default.borderless{
    border-color: transparent;
}

.btn-default:hover{
    background-color: #eeeeee;
    color: #32637c;
}

.btn-default.borderless:hover{
    border-color:#eeeeee;
}

.btn-export{
    background-color: #509FCA;
    border-color: #4485A9;
    color: white !important ;
}

.btn-export:hover{
    background-color: #4485A9;
    border-color: #4485A9;
    color: white;
}

.btn-export:active{
    background-color: #4485A9;
    border-color: #4485A9;
    color: white;
}

.select-default{
    padding: 5px;
    border-radius: 5px;
}

/* DASHBOARD */

.listing-item{
    border:solid thin #cccccc;
    border-left: solid 5px #cccccc;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
}

.listing-item.alerte{
    border-left-color: #32438b;
}

.listing-item.suivi.contact{
    border-left-color: #4cae4c;
}

.listing-item.suivi.dossier{
    border-left-color: #b92e4c;
}

.listing-item.suivi.section{
    border-left-color: #b92e4c;
}

.listing-item.alerte h4{
    color: #32438b;
}

.listing-item.suivi.contact h4, .listing-item.suivi.contact h4 a{
    color: #4cae4c;
}

.listing-item.suivi.dossier h4, .listing-item.suivi.dossier h4 a{
    color: #b92e4c;
}

.listing-item.suivi.section h4, .listing-item.suivi.section h4 a{
    color: #b92e4c;
}

.listing-item-side{
    width: 10%;
    float: left;
    position: relative;
}

.listing-item-content{
    width: 80%;
    float: left;
}

.listing-item.done h4 span{
    text-decoration: line-through;
}

/* FILTER */
.filter-container h2{
    background-color: #8a95a5;
    margin-top: 0px;
    padding: 5px 15px; 
    color: white;
    font-size: 16px;
}

.filter-container h3{
    background-color: #bac3cd;
    margin-top: 0px;
    padding: 5px 15px; 
    color: #333333;
    font-size: 16px;
}

.filter-container h3 a .glyphicons, .filter-container h2 .glyphicons{
    float: right;
    color: white;
    display: none;
    cursor: pointer;
}

.filter-container h2 .glyphicons{
    display: inline-block;
}

.filter-container h3 a.collapsed .glyphicons.rotate90{
    display: inline-block;
}

.filter-container h3 a:not(.collapsed) .glyphicons.rotate270{
    display: inline-block;
}

.filter-container h3 a{
    color: #333333;
}

.filter-container .filter-section input, .filter-container .filter-section select, .filter-container .filter-section label{
    float: none;
    min-width: inherit;
}

.filter-container .filter-section label{
    width: inherit;
}

.filter-container .filter-section{
    padding-left:15px; 
    padding-right:15px; 
}

.filter-section{

}

.filter-section.section-save-filter{
    background-color: #c4df9b;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.filter-section.section-save-filter a{
    color: #468847;
}

/* LISTING */
table.table tr.clickable{
    cursor: pointer;
}

table.table .sortable{
    cursor: pointer;
    text-decoration: underline;
}

table.table .sortable.sorted.ASC::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
}

table.table .sortable.sorted.DESC::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
}

.actions-container{
    background-color: #7092A4;
    padding: 5px 10px;
    border-radius: 5px;
}

.actions-container span{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.actions-container select{
    border-radius: 5px;
}

/* CONTACT */
.label.label-success{
    background-color: #468847;
}

.label.statut-2{
    background-color: #468847;
}

.label.statut-3{
    background-color: #f0ad4e;
}

.left-column-container .section{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 2px #e1e7e9;
}

.left-column-container .section .underlined{
    border-bottom: solid thin #e6e6e6;
    padding-bottom: 10px;
}

.left-column-container .section .btn{
    text-align: left
}

.section-block{
    margin-bottom: 15px;
}

.section-block .section-header{
    padding: 15px;
    background-color: #cdcdcd;
}

.section-block .section-header h3{
    text-transform: uppercase;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

.section-block .section-main-content{
    padding: 15px;
    background-color: #e6e6e6;
}

.section-block .section-main-content .btn{
    text-align: left; 
}

.section-block .section-main-content .btn .glyphicons{
    padding-right: 20px;
}

.section-block .section-sub-content{
    padding: 15px;
    background-color: #f5f5f5;
}

.section-block .section-sub-content .listing-item{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    border:none;
    border-bottom: solid thin #dddddd;
}

.section-block .section-sub-content .listing-item .due-to{
    color: #c24864;
}



.section-separator{
    border-bottom: solid thin #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-block .btn .badge{
    float: right;
}

.label-print-all{
    position: relative;
    top: 5px;
}

.label-print-all a{
    color: #797979;
    text-decoration: underline;
}

.kit-container{
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    color: 555555;
    margin-bottom: 20px;
    transition:all 0.2s;
}

.kit-container .kit-label{
    min-height: 44px;
    text-transform: uppercase;
    font-weight: bold;
}

.kit-container .kit-icon{
    font-size: 40px;
}

.kit-container:hover{
    background-color: #337ab7;
    color: white;
    cursor: pointer;
    transition:all 0.2s;
}

label[for*="procuration_is"]{
    width: 80%;
}

/* SECTION */
.label.section-active{
    background-color: #bb3050;
}

.section-block table{
    width: 100%;
}

.section-block table tbody{
    background-color: #fff;
    box-shadow: 0px 0px 5px #333;
    border-top: solid thin #ddd;
}

.section-block table tbody tr{
    border-top: solid thin #ddd;
}

.section-block table td, .section-block table th{
    padding: 5px;
    text-align: center;
}

.section-block.block-text .section-header{
    background-color: #fde274;
    color: #e5ad52;
    padding: 5px;
}

.section-block.block-text .section-header h3{
    font-size: 14px;
}

.section-block.block-text .section-main-content{
    background-color: #fffcd7;
    border:solid thin #fde274;
    padding: 5px;
    color: #e5ad52;
}





@media(max-width: 1024px){
    #left-sidebar{
        width: 100px;
        transition: all 0.5s;
    }    

    #left-sidebar:hover{
        width: 220px;
        transition: all 0.5s;
    }

    .menu-label{
        display: none !important;
    }

    .menu-container ul li .glyphicons{
        padding-left: 20px;
        font-size: 20px;
    }

    #left-sidebar:hover .menu-container ul li span{
        display: block;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    #main-content {
        padding-left: 100px;
    }

}