<!-- Modal -->
<div class="modal fade" id="editer-alerte-{{ alerte.id }}" tabindex="-1" role="dialog" aria-labelledby="editer-alerte-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editer-alerte-label">Editer une alerte</h4>
      </div>
      <div class="modal-body">
          {{ form(alerteForm, {'attr': {'novalidate': 'novalidate','id' : 'alerte-edition','class' : 'clearfix'}}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" onclick="$('#alerte-edition').submit()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>