<div class="modal fade" id="modal-support" tabindex="-1" role="dialog" aria-labelledby="modal-support-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-support-label">Support</h4>
      </div>
      <div class="modal-body">
        {{ form(supportForm, {'attr': {'novalidate': 'novalidate','id' : 'support-form','class' : 'clearfix modal-form'}}) }}
        <p>
          Vous pouvez aussi nous contacter directement par téléphone au <a href="tel:0390298466">+33 (0)3 90 29 84 66</a> ou par email : <a href="mailto:dev@adn-studio.fr">dev@adn-studio.fr</a>
        </p>
        <p>Nous sommes ouvert du lundi au vendredi de 8h30 à 17h30</p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" onclick="$('form#support-form').submit()">Envoyer</button>
      </div>
    </div>
  </div>
</div>