{% extends 'base.html.twig' %}

{% block title %}
Gestuniat - Votre Dashboard 
{% endblock %}


{% block content %}
	<h1>Gestionnaire des termes</h1>
	<p class="grey-text">Liste des termes des dossiers en cours et notes personnelles</p>
{% endblock %}