{% extends 'base.html.twig' %}

{% block title %}
Gestuniat - Votre Dashboard 
{% endblock %}


{% block content %}
	<h1>Gestionnaire des termes</h1>
	<p class="grey-text">Liste des termes des dossiers en cours et notes personnelles</p>
	<button type="button" class="btn btn-primary btn-add" data-toggle="modal" data-target="#ajouter-alerte"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter alerte perso.</button>
	{% include 'modals/ajouter-alerte.html.twig' %}
	

{% endblock %}