{% extends 'base.html.twig' %}

{% block title %}
Gestuniat - Votre Dashboard 
{% endblock %}


{% block content %}
	{% if lateSections|length > 0 %}
		<div class="alert alert-warning">Certaines sections n'ont pas encore réalisé de décompte pour l'année {{"now"|date('Y') - 1}} : 
			{% for section in lateSections %}
				<a href="{{path('view_section',{'idSection':section.id})}}">{{section.nom}}</a>,&nbsp;
			{% endfor %}
		</div>
	{% endif %}
	{% if unpaidVignettes > 0 %}
		<div class="alert alert-warning">
			 {{unpaidVignettes}} vignettes sont en attente de règlement.
		</div>
	{% endif %}
	<h1>Gestionnaire des termes</h1>
	<p class="grey-text">Liste des termes des dossiers en cours et notes personnelles</p>
	<button type="button" class="btn btn-primary btn-add" data-toggle="modal" data-target="#ajouter-alerte"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter alerte perso.</button>
	{% include 'modals/ajouter-alerte.html.twig' %}
	<button class="btn btn-default borderless" data-toggle="modal" data-target="#historique" type="submit">Historique</button>
	{% include 'modals/historique.html.twig' %}
	<button class="btn btn-default borderless" data-toggle="modal" data-target="#terms">Liste des termes</button>
	{% include 'modals/termes.html.twig' %}
	<select onchange="eval(this.value)" class="select-default">
		<option value="toggleAlertes(['.alerte','.terme','.suivi'])">Termes et alertes</option>
		<option value="toggleAlertes(['.suivi'])">Termes uniquement</option>
		<option value="toggleAlertes(['.alerte'])">Alertes uniquement</option>
	</select>

	<div class="spacer-10"></div>

	<div class="row no-gutter">
		<div class="col-md-4">
			<div class="col-header"><h4>En retard</h4></div>
			{% include 'operateur/dashboard/listing-suivis.inc.html.twig' with {'deadline': 'late'} %}
		</div>
		<div class="col-md-4">
			<div class="col-header"><h4>Aujourd'hui</h4></div>
			{% include 'operateur/dashboard/listing-suivis.inc.html.twig' with {'deadline': 'now'} %}
		</div>
		<div class="col-md-4">
			<div class="col-header"><h4>Plus tard</h4></div>
			{% include 'operateur/dashboard/listing-suivis.inc.html.twig' with {'deadline': 'incoming'} %}
		</div>
	</div>

	<script type="text/javascript">

	</script>

{% endblock %}